niyaz_28-1_hw2.py
Niyaz-28-1_hw5(3).py
Niyaz-28-1_hw2(3).py
Niyaz-28-1_hw4.py
Niyaz_28-1_hw5(2).py
Niyaz_28-1_hw5(2.2).py
Niyaz_28-1_hw6(2).py
Niyaz_28-1_hw8.py
Niyaz_28_1_hw8.py
Niyaz_28-1_hw6(2,2).py
Niyaz_28-1_hw7.py


